* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    background-color: #383b4e;
}

/* Navbar */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: #383b4e;
}

.nav-logo {
    color: #d8dddd;
    font-family:'Poppins', sans-serif; 
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    margin: 15px;
}

.nav-links {
    display: flex;
    float: right;
    align-items: center;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

.nav-items {
    padding: 5px 10px;
}

.nav-links li {
    list-style: none;
    margin-left: 10px;
}

.nav-links a {
    color: #d8dddd;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 20px;
}

.nav-links a:hover {
    background-color: #d8dddd;
    color: #383b4e;
    border: none;
    border-radius: 999px;
    display: inline-block;
}

/* Footer */
#footer {
    background-color: #383b4e;
    color: #d8dddd;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    position: absolute;
    padding: 5px;
    bottom: 5px;
    left: 0;
    right: 0;
}

/* HOME SECTION */
#home-sec {
    color: #d8dddd;
    margin: 100px;}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 50px;
}

.home-img {
    width: 35%;
    border-radius: 1rem;
}

.intro-text {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.intro-name {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 35px;
    margin-bottom: 20px;
}

.intro-description {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    letter-spacing: 1px;
}

/* CONTACT SECTION */
#contact-sec {
    margin: 100px;
    border: solid #d8dddd;
    padding: 20px;
    border-radius: 20px;
    min-height: 300px;
}

.contact-me {
    color: #d8dddd;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 10px;
    margin-left: 10px;
    letter-spacing: 5px;
}

.contact-me-message {
    color: #d8dddd;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    line-height: 2;
    margin-left: 10px;
    letter-spacing: 2px;
}

.contact-btn {
    background-color: #d8dddd;
    color:#383b4e;
    border-radius: 999px;
    padding: 8px 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    margin-top: 40px;
    margin-left: 10px;
    letter-spacing: 2px;
}

.contact-btn:hover {
    outline: solid #d8dddd;
    background-color: transparent;
    color: #d8dddd;
    border-radius: 999px;
    display: inline-block;
}

.icons {
    display: flex;
    gap: 40px;
    float: right;
    flex-direction: column;
    margin-right:50px;
    margin-top: -40px;
}

.social-icons {
    color: #d8dddd;
}

/* PERSONAL SECTION */
#personal-sec {
    margin: 50px;
    border: solid #d8dddd;
    padding: 20px;
    border-radius: 20px;
    min-height: 300px;
}

.hobbies-heading h2 {
    color: #d8dddd;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 5px;
}

.hobbies-items {
    outline: solid #d8dddd;
    color: #d8dddd;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    padding-top: 10px;
    letter-spacing: 2px;
}

.hobbies-items p {
    letter-spacing: 1px;
    font-size: 1rem;
    padding: 15px;
}

.anime {
    height: 120px;
    border-radius: 5px;
}

.games {
    width: 150px;
    border-radius: 5px;
    
}

.felt {
    height: 140px;
    border-radius: 5px;
    
}

.illustration {
    width: 90px;
    border-radius: 5px;
    
}

.hobbies-divides {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hobbies-divides li {
    list-style: none;
    min-height: 400px;
    max-width: 240px;
    border-radius: 10px;
    margin: 20px;
}

/* PROFESSIONAL SECTION */
.header {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 5px;
}

#education-sec {
    margin: 40px 50px;
    border: solid #d8dddd;
    padding: 20px;
    border-radius: 20px;
    min-height: 120px;
    color: #d8dddd;
}

.edtext {
    letter-spacing: 1px;
    font-size: 1rem;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#skills-sec {
    margin: 40px 50px;
    border: solid #d8dddd;
    padding: 20px;
    border-radius: 20px;
    min-height: 120px;
    color: #d8dddd;
}

#skills-sec ul {
    display: flex;
    gap: 30px;
    padding: 15px;
    justify-content: center;
}

#skills-sec li {
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    text-decoration: underline solid #d8dddd;
    text-underline-offset: 4px;
    border-radius: 999px;
    padding: 12px;
}

#projects-sec {
    margin: 40px 50px;
    border: solid #d8dddd;
    padding: 20px;
    border-radius: 20px;
    min-height: 120px;
    color: #d8dddd;
}

#projects-sec h3 {
    color: #d8dddd;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    letter-spacing: 2px;
    justify-content: center;
}

#projects-sec ul {
    display: flex;
    gap: 30px;
    padding: 15px;
    justify-content: center;
}

#projects-sec li:first-child{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    outline: none;
}

#projects-sec li {
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 10px;
}

#projects-sec a {
    color: #d8dddd;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    outline: solid #d8dddd;
    border-radius: 999px;
    padding: 10px;
    
}

#projects-sec a:hover {
    background-color: #d8dddd;
    color: #383b4e;
    border: none;
    font-size: 1rem;
    border-radius: 999px;
}